<div id="ltiLaunchFormSubmitArea">

  <%= erb :_params_table %>

  <form action="<%= @consumer.launch_url %>" name="ltiLaunchForm" id="ltiLaunchForm" method="post" encType="application/x-www-form-urlencoded">
    <% @consumer.generate_launch_data.each_pair do |key, val| %>
      <input type="hidden" name="<%= key %>" value="<%= val %>" />
    <% end %>
    <div class="form-group" style="margin-top: 1em">
      <button type="submit" class="btn btn-primary">Launch the Tool</button>
    </div>
  </form>

</div>
